/* Global */

body {
	border: 1px solid #808080;
	overflow: hidden;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font: 15px / 1.5 "Roboto", "Arial", sans-serif;
	display: flex;
	flex-direction: column;
}

.highlight-color {
	color: #1c8fcc;
}

/* Nav bar header */

nav {
	display: inline-block;
	text-align: center;
	background-color: #dcdcdc;
}

nav button {
	border: none;
	background-color: #a9a9a9;
	padding: 10px;
	display: inline;
}

nav .current {
	border: none;
	background-color: #1c8fcc; 
	padding: 10px;
	display: inline;
}

/* Main view */

#main-view {
	height: 100%;
	width: 100%;
	background-color: #dcdcdc;
}

#main-view #player-name {
	text-align: center;
	padding: 0;
	margin: 0 0 5px 0;
}

#main-view #money-header {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Main view element list */

#main-view #elements {
	align-self: left;
	text-align: center;
	width: 25%;
	height: 100%;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
}

#main-view #elements h2 {
	margin: 0;
	padding: 0;
}

#main-view #elements ul {
	margin: 0;
	padding: 0;
}

#main-view #element-list li {
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
}